@media (max-width:500px) {
    #page1{
        width: 100%;
        min-height: 100%;
    }
    nav{
        width: 100%;
        justify-content: space-between;
    }
    nav>#center-nav {
    display: none;
    background-color: rebeccapurple;
    }
    nav>#right-nav>li>a{
        font-size: 4vw;
    }
    nav>#left-nav>img {
        object-fit: cover; 
        margin-left: 0vw
    }
    #hero{
        
        height:100%;
    }
    element.style {
        width: 0;
        height: 0;
        max-width: 0;
        max-height: 0;
    }
    #hero>.hero-top {
        width: 100%;
        height: 80%;
    }
    .overlay {
        width: 100%;
        min-height: 100%;
    }
    .text-overlay>p {
        width: 70%;
        z-index: 15;
    }
    .right-overlay {
        margin: -52px -55vw;
    }
    .overlay>.text-overlay>p {
        top: 80%;
        left: 25%;
        width: 61%;
        font-size: 3vw;
        padding: 0vw 0vw;
        text-align: center;
    }
    #hero>.hero-bottom {
        flex-direction: column;
        height: 20%;
    }
    .hero-bottom>.h-btm-lft {
        width: 100%;
    }
    .hero-bottom>.h-btm-ryt {
        width: 100%;
    }
    .h-btm-lft>.small-txt>p {
        font-size: 4vw;
        text-align: center;
    }
    .hero-bottom>.h-btm-ryt>.icons {
        justify-content: center;
    }
    .h-btm-ryt>.icons>i {
        font-size: 4vw;
    }
    #page2{
        width: 100%;
        height: 100%;
    }
    .wrapper-p2 {
        width: 100%;
        height: 50%;
        flex-direction: column;
    }
    .wrapper-p2>.inner-wrap-left{
        width: 100%;
    }
    .inner-wrap-left>.image-div-p2{
        height: 100%;
    }
    .wrapper-p2>.inner-wrap-right {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .wrapper-p2>.inner-wrap-right>h1 {
        font-size: 35vw;

    }
    .skill-part {
       flex-direction: column;
    }
    .skill-top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 0vw;
    }
    .skill-top>.wrap-p2>h2 {
        font-size: 5.4vw;
    }
    .skill-top>.wrap-p2>ul>li>i {
        font-size: 3vw;
    }
    .wrap-p2:nth-child(1) {
        padding-top:0vw;
        margin-left: 0vw;
    }
    .skill-bottom>.wrap-p2>h2 {
        font-size: 5.4vw;
    }
    .skill-bottom>.wrap-p2:nth-child(1) {
        padding-top: 3vw;
        margin-left: 3vw;
        /* padding: .4vw; */
    }
    
    /* ********* page3************ */
    #page3{
        width: 100%;
        min-height: 100%;
    }
    .wapper-p3{
        width: 100%;
        min-height: 100%;
    }
    .heding-text{
        width: 100%;
        height: 100%;
    }
    #page3>.wapper-p3>.heding-text{
        height: 23vw;
        width: 100%;
        align-items: center;
    }
    .heding-text>.m>h2{
        font-size: 5vw;
    }
    .heding-text>.h>h2{
        font-size: 5vw;
    }
    .heding-text>.l>h2{
        font-size: 5vw;
    }
    .inner-divs{
        padding-top:0vw
    }
    .inner-divs>.elem {
        width: 100%;
        flex-direction: column;
    }
    .elem>.elm-left {
        width: 100%;
    }
    .elem>.elm-ryt{
        width: 100%;
    }
    .elm-ryt>.big-text-elm-r {
        justify-content: center;
    }
    .elm-ryt>.overlay-bigtext {
        justify-content: center;
    }
    .elm-ryt>.overlay-bigtext>p {
        font-size: 1.9vw;
    }
   .elem>a {
        z-index: 10;
        left: 0%;
    }
    .elm-left>.text>p {
        font-size: 10vw;
    }
    .inner-divs>.elem>img {
        width: 193px;
        height: 100px;
        top: auto;
    }
    /* page4 */
    #page4{
        width: 100%;
        height: 100%;
    }
    #page4>h1 {
        font-size: 27vw;
    }
    .wrappper-p4>.circle {
       left:  -200%;
        width: 685px;
        height: 685px;
    }
    .panel>.min-icons {
        width: 3.9vw;
        height: 3.9vw;
    }
    .circle>.stripe {
        width: 100%;
        height: 24%;
    }
    .stripe>.second>h2 {
        font-size: 5vw;
    }
    .stripe>.second>p {
        font-size: 1.7vw;
        line-height: 1.4;
    }
    .stripe>.first>h5{
        font-size: 5vw;
        right: -5%;
        top: 12%;
    }
    .stripe>.cr>ul>li {
        font-size: 1.9vw;
    }
    .stripe>.cr>ul>li>a {
        font-size: 3.1vw;
    }

    /* page5 */
    #page5 {
        width: 100%;
        min-height: 100%;
    }

    #page5>.wrapper-p5 {
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .wrapper-p5>.p5-left {
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;  
    }
    .wrapper-p5>.p5-ryt {
        width: 100%;
        height: 70%;
    }
    .p5-ryt>.card {
        width: 100%;
        height: 100%;
    }

    .card>.contact-card {
        width: 90%;
        margin: 0 5vw;
    }
    .upper>.name>input {
        width: 100%;
        height: 6vw;
    }
    .upper>.email>input {
        width: 100%;
        height: 6vw;
    }
    .lower>.sub>input {
        width: 85%;
        height: 6vw;
    }
    .lower>.msg>input {
        width: 85%;
        height: 60%;
    }
    /* panda */
    .panda>.head {
        width: 150px;
        height: 120px;
        gap:4vw;
        margin-top: 4vw;
    }
    .head>.ear-l {
        width: 41px;
        height: 44px;
    }
    .head>.ear-r {
        width: 41px;
        height: 42px;
    }
    .letf-eye {
        margin-top: -6vw;
    }
    .ryt-eye {
        margin-top: -6vw;
        rotate: 5deg;
    }
    
    .letf-eye>.dot-blush-r {
        left:25%;
        rotate: -27deg;
    }
    .letf-eye>.dot-blush-l {
        left: -54%;
    }
    .panda>.nose {
        top: 18%;
    }
    .card>.hand-l {
        width: 45px;
        height: 43px;
    }
    .card>.hand-ryt {
        width: 45px;
        height: 43px;
    }
    .card>.leg-l {
        width: 50px;
        height: 52px;
    }
    .leg-l>.dot-leg {
        padding: 1.2vw;
    }
    .leg-l>.feet {
        width: 36px;
    }
    .card>.leg-r {
        width: 50px;
        height: 52px;
    }
    .leg-r>.dot-leg {
        padding: 1.2vw;
    }
    .leg-r>.feet {
        width: 34px;
    }
    .card>.wave {
        width: 40px;
        height: 140px;
    }

    .center>.btn span {
        color: white;
        font-size: 4.3vw;
    }

    /* logo in footer */
    .p5-left>.img-log {
        width: 21%;
        height: 60%;
        margin-right: 0;
    }
    .p5-left>.container-img {
        width: 48%;
        height: 100%;
    }
    .container-img>.resume>a {
        font-size: 3vw;
    }
    #page5>h3{
        text-align: center;
        font-size: 3vw;
        text-transform: uppercase;
    }
    #page5>h3>span{
        color: var(--text-color);
        font-family:  'Fuggles',cursive;
        font-weight: 600;
        transition: all .3s ease;
        cursor: pointer;
    }
    #page5>h3>span:hover{
        color: var(--page-bg-color);
    }
}



/* for laptop version */

@media only screen and (max-width:800px) {
    #page1 {
        width: 100%;
        height: 100%;
    }
    #page1>nav {
        width: 100%;
        height: 20%;
    }
    #page1>#hero {
        width: 100%;
        height: 100%;
    }
    #hero-top>.big-text{
        padding: 0;
    }
    .big-text>h1 {
        padding: 1vw 13vw;
    }
    .big-text>h2 {
        padding: 1vw 5vw;
    }
    .text-overlay>.right-overlay {
        width: 250px;
        height: 250px;
        margin: 5vw -4vw;
    }
    .right-overlay>.text-overlay {
        width: 100%;
        height: 100%;
    }
    #hero>.hero-bottom {
        width: 100%;
        height: 0%;
    }
    .skill-top>.wrap-p2:nth-child(1) {
        padding-top: 26vw;
    }
    .skill-top>.wrap-p2>h2 {
        font-size: 2.4vw;
    }
    .skill-bottom>.wrap-p2:nth-child(1){
        padding-top: 25vw;
    }
    .skill-bottom>.wrap-p2>h2 {
        font-size: 2.4vw;
    }
    #page3 {
        width: 100%;
        height: 180%;
    }

    #page3>.wapper-p3>.heding-text {
        height: 13%;
    }
    .wapper-p3>.heding-text>.l {
        font-size: 2.2vw;
    }
    .wapper-p3>.heding-text>.h {
        font-size: 2.3vw;
    }
    .wapper-p3>.heding-text>.m {
        font-size: 2vw;
    }
    #page4>.wrappper-p4{
        height: 100%;
        width: 30%;
    }
    .wrappper-p4>.circle {
        position: absolute;
        top: 41%;
        left: -486%;
        width: 146vh;
        height: 150vh;
    }
    .stripe>.second>h2 {
        font-size: 4.5vw;
    }
    .stripe>.second>p {
        font-size: 1.4vw;
    }
    .stripe>.first>h5 {
        position: absolute;
        z-index: 9;
        right: -6%;
        top: 30%;
        transform: translate(0,-50%);
        font-size: 5vw;
    }
    .panel {
        width: 5%;
        position: absolute;
        left: 315%;
        top: 53%;
        gap: 2.5vw;
    }
    .panel>.min-icons {
        width: 3.9vw;
        height: 3.9vw;
    }
    .stripe>.cr>ul>li {
        font-size: 1.7vw;
    }
    #page5 {
        width: 100%;
        height: 100%;
    }
    .p5-ryt>.card {
        width: 100%;
    }
    form>.upper>.name {
        width: 50%;
    }
    form>.upper>.name>input {
        width: 100%;
        height: 4vw;
    }
    form>.upper>.email {
        width: 50%;
    }
    form>.upper>.email>input {
        width: 100%;
        height: 4vw;
    }
    .lower>.sub>input {
        width: 100%;
        height: 4vw;
    }
    .lower>.msg>input {
        width: 100%;
        height: 40%;
    }
    .center>.btn span {
        color: white;
        font-size: 2.5vw;
    }
    .card>.hand-l{
        left: 15%;
    }
    .p5-left>.container-img {
        width: 107%;
        height: 72%;
    }
    .container-img>.resume>a {
        text-decoration: none;
        background-color: var(--text-color);
        font-size: 3vw;
    }
    h3{
        text-align: center;
    }
}
