@import url('https://fonts.googleapis.com/css2?family=Acme&family=Gentium+Book+Plus:ital@1&family=Merriweather&family=Mukta:wght@200;400;800&family=Pacifico&family=Roboto+Condensed&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}
:root{
    --bg-color:#f6f4f1;
    /* --bg-color:#fafaf9; */
    --page-bg-color:#86efac;
    --text-color:#19725D;
    --sec-text-color:#2c2c2a;
    --basic_color:#574e4b;
    --cards-color:#E0E2E5;
    --icont-font-color:#f5be0b;
    --icon-bg-color:#fef1c7;
}
#cursor{
    width: 30px;
    height: 30px;
    background-color: var(--text-color);
    border-radius: 50%;
    position: fixed;
    transition: all .1s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 9999;
    mix-blend-mode:exclusion;

}
#main{
    /* overflow: hidden; */
}
/* ************ page1 ************* */
#page1{
    width: 100vw;
    min-height: 100vh;
    /* background-color: red; */
    position: relative;
}
nav{
    width: 100%;
    height: 10%;
    /* background-color: rebeccapurple; */
    position: relative;
    display: flex;
    opacity: 0;
}
#left-nav,#right-nav {
    width: 30%;
    height: 100%;
    /* background-color: aqua; */
    font-family: 'Mukta', sans-serif;
  
}
#left-nav>img{
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    object-position: 0;
    margin-left: 5vw;
   
}
#center-nav{
    width: 60%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2vw;
    position: relative;
    /* background-color: rebeccapurple; */
}
#center-nav>ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    /* background-color: #19725D; */
    width: 50%;
    /* height: 100%; */
}
#center-nav>ul>li{
    /* background-color: red; */
    width: 100%; 
}
#center-nav>ul>li>a{
    text-decoration: none;
    max-width: 100%;
    color: #656363;
    font-size: 1.5vw;
    /* font-weight: 400; */
    font-family: 'Fuggles',cursive;
}
#center-nav>ul>li>i{
    font-size: 1.6vw;
}
#right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
#right-nav>li>a,#right-nav>li{
    list-style: none;
    text-decoration: none;
    font-family: 'Fuggles',cursive;
    color: #656363;
    font-size: 1.5vw;
    transition: color .5s ease;
}
#center-nav>ul>li>a:hover ,#right-nav>li>a:hover{
    color: #000;
}
/* ********** hero part ************** */

#hero{
    width: 100%;
    height: calc(100% - 10%);
    /* background-color: yellow; */
}
.hero-top{
    width: 100%;
    height: 70%;
    /* background-color: green; */
}
.big-text{
    width: 100%;
    height: 100%;
    /* background-color: yellowgreen; */
    position: relative;
    text-transform: capitalize;
    font-family: 'Mukta', sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 0 5vw;
}
.big-text>h1{
    font-size: 7vw;
    font-weight: 700;
    padding: 1vw 4vw;
    width: fit-content;
    /* background-color: rebeccapurple; */
    line-height: 1;
}
.big-text>h2{
    font-size: 7vw;
    font-weight: 700;
    width: fit-content;
    /* background-color: red; */
}
.hero-bottom{
    width: 100%;
    height: 30%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
}
.h-btm-lft{
    width: 50%;
    height: 100%;
    position: relative;
    /* background-color: gray; */
}
.small-txt{
    width: 100%;
    height: 100%;
    position: relative;
    text-transform: capitalize;
    padding: 1vw 5vw;
}
.small-txt>p{
    font-size: 2vw;

}
.h-btm-ryt{
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 2;
    /* background-color: gray; */
}
.h-btm-ryt>.icons{
width: 100%;
height: 100%;
position: relative;
display: flex;
align-items: flex-end;
justify-content: flex-end;
gap: 1vw;
padding: 1vw 5vw;
}
.icons>p{
    font-weight: 700;
}
.icons>i{
    width: fit-content;
    font-size: 2vw;
    font-weight: 600;
    /* background-color: rebeccapurple; */
}

.overlay{
    width: 100%;
    height: 100%;
    background-color:#000;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3vw;
    /* opacity: 0; */
}
.text-overlay{
    width: 100%;
    height: 100%;
    position: relative;   
}
.text-overlay>p{
    color: #fff;
    /* background-color: red; */
    position: absolute;
    bottom: 2vw;
    width: 30%;
    font-size: 1.2vw;
    padding: 1vw 5vw;
    font-family: 'Fuggles', cursive;

}
.overlay>img{
    padding-inline: 10vw;
    /* width: 50%; */
    height: 80%;
    opacity: 0;
    position: absolute;
    left: 0;
    /* top: -15%; */
    z-index: 9;
    mix-blend-mode:difference;
}
/* ************ page2 ************** */
#page2{
    width: 100vw;
    height: 100vh;
    background-color: #000000df;
    position: relative;
}
.wrapper-p2{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-wrap-left{
    width: 30%;
    height: 100%;
    background-color: #0d0c0c;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-div-p2{
    width: 100%;
    height: 50%;
    /* background-color: pink; */
    position: relative;
}
.image-div-p2>img{
    height: 100%;
    width: 0%;
    object-fit: cover;
        /* mix-blend-mode: darken; */

    object-position: 0%;
    box-shadow: 2px 2px 10px var(--text-color);
    /* filter: drop-shadow(2px 2px 10px var(--text-color)); */
}
.inner-wrap-right{
    width: 70%;
    height: 100%;
    /* background-color: gray; */
    position: relative;
}
.inner-wrap-right>h1{
    font-size: 20vw;
    position: absolute;
    left: 20%;
    top: 100%;
    color: rgba(128, 128, 128, 0.174);
    -webkit-text-stroke:.2vw rgba(128, 128, 128, 0)e;
}
.skill-part{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.584);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 2vw; */
}
.skill-top{
    width: 50%;
    height: 100%;
    /* background-color: green;    */
}
.skill-bottom{
    width: 50%;
    height: 100%;
    /* background-color: pink; */
    
}
.wrap-p2{
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    opacity: 0;
}
.wrap-p2:nth-child(1){
    padding-top: 20vw;
    margin-left: 5vw;
}
.wrap-p2:nth-child(2){
    margin-top: 2vw;
    margin-left: 5vw;
}
.wrap-p2>h2{
    font-size: 1.4vw;
    color: var(--cards-color);
    margin-bottom:1.3vw ;  
}

.wrap-p2>ul>li{
    list-style-position: inside;
    color: var(--text-color);
    cursor: pointer;
    transition: color .3s ease;
    padding: .3vw 0;
    font-weight: 600;
    width: 200%;
    /* background-color: red;    */
}

.wrap-p2>ul>li>i{
    font-size: 1vw;
    /* background-color: yellow; */
    padding-left: 2vw;
    display: none;
    transition: all .4s ease;
}
.wrap-p2>ul>li:hover{
    color: var(--page-bg-color);
}
.wrap-p2>ul>li:hover i{
    color: var(--page-bg-color);
    display: initial;
    transition: all 3s ease;
}

/* ************ page3************ */
#page3{
    width: 100vw;
    height: 180vh;
    background-color:#000;
    position: relative;
}
.wapper-p3{
    width: 100%;
    height: 100%;
    /* background-color: rebeccapurple; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wapper-p3>.heding-text{
    font-size:3.vw;
    position: relative;
    /* left: 20%;
    top: 5%; */
    text-transform: uppercase;
    /* background-color: rebeccapurple; */
    width: 20%;
    height: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}
.heding-text>.m{
    color: var(--sec-text-color);
    /* background-color: green; */
    width: fit-content;
    height: 20%;
    font-size: 2vw;
    /* opacity: 0; */
}
.heding-text>.h{
    color: #19725D;
    /* background-color: red; */
    width: fit-content;
    height: 15%;
    font-size: 1.3vw;
}
.heding-text>.l{
    color: #78716c;
    /* background-color: yellow; */
    width: fit-content;
    height: 15%;
    font-size: 1.2vw;
}
.inner-divs{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 3vw;
    /* background-color: red; */
}
.elem{
    width: 80%;
    height: 19%;
    background-color:#000000df ;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: .1vw solid var(--cards-color);
}
.elem>img{
    position: absolute;
    width: 350px;
    height: 200px;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%,-0%);
    transition: all .4s ease;
    opacity: 0;
    scale: 0;
    box-shadow: 0 0 10px var(--text-color);
}

.elem>a{
    position: absolute;
    top: 50%;
    left: -2%;
    transform: translate(0%,-50%);
    background-color:var(--text-color);
    color: var(--bg-color);
    padding: 1vw;
    border-radius: 50%;
    text-decoration: none;
    z-index: 99;
}

#elem-img-div>img{
    
}
#elem-img-div>a{
    
}
.elm-left{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
}
.text{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.text>p{
    font-size:5vw;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Mukta', sans-serif;
    color: var(--sec-text-color);
    text-transform: uppercase;
    z-index: 1;
    mix-blend-mode:exclusion;
}
.elm-ryt{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    position: relative;
}
.big-text-elm-r{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding-right: 3vw; */
}
.big-text-elm-r>p{
    font-size: 11vw;
    font-family: 'Mukta',sans-serif;
    color: rgba(128, 128, 128, 0.345);
    font-weight: 900;
}
.overlay-bigtext{
    width: 100%;
    height: 100%;
    background-color: #0000003a;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.overlay-bigtext>p{
    font-size: .9vw;
    font-family: 'Mukta',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 3vw;
    color: #fff;
    font-family: cursive;
    /* z-index: 1; */
}

/* ************** page4 ***************** */
#page4{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: relative;
    overflow: hidden;
    /* padding:.3vw 0; */
}
#page4>h1{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50% ,0);
    /* z-index: 1; */
    color: #fff;
    text-transform: uppercase;
    font-size: 12vw;
    /* background-color: rebeccapurple; */
    width: 70%;
    left: 40%;
    top: 100%;
    color: rgba(128, 128, 128, 0.174);
    -webkit-text-stroke:.2vw rgba(128, 128, 128, 0)e;
}
.wrappper-p4{
    width: 100%;
    height: 96%;
    /* background-color: yellow; */
    position: relative;
    /* overflow: hidden; */
}
.circle{
    position: absolute;
    top: 50%;
    left: -75%;
    transform: translate(50%,-50%) rotate(100deg);
    /* transform: translate(50%,-50%); */
    width: 160vh;
    height: 160vh;
    /* background-color: pink; */
    border-radius: 50%;
    border: .1vw solid #dadada;
}
.stripe{
    width: 100%;
    height: 10%;
    /* background-color: rebeccapurple; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0,-50%);
    transform-origin: 0% 50%;
    display: flex;
    color: white;
    
}
.sp-1{
    transform: translate(0,-50%) rotate(-20deg);
    z-index: 999;
    opacity: 1;
}
.sp-2{
    transform: translate(0,-50%) rotate(0deg);
}
.sp-3{
    transform: translate(0,-50%) rotate(20deg);
}
.first{
    width: 50%;
    height: 100%;
    position: relative;
    /* background-color: green; */
}
.first>h5{
    position: absolute;
    z-index: 9;
    right:-6%;
    top: 30%;
    transform: translate(0,-50%);
    font-size: 2vw;
}
.second{
    width: 50%;
    height: 100%;
    /* background-color: peru; */
    padding:0 3vw;
    opacity: .01;
}
.second>h2{
    font-size: 2.3vw;
    color: var(--text-color);
    text-transform: uppercase;
}
.second>p{
    font-size: 1.1vw;
}
.panel{
    width: 5%;
    height: 30%;
    /* background-color: red; */
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translate(0,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5vw;
}
.min-icons{
   width: .9vw;
   height: .9vw;
   background-color: var(--basic_color);
   border-radius: 50%;
   opacity: .2;
  cursor: pointer;
}

/* *************** page5****************** */
#page5{
    width: 100vw;
    height: 100vh;
    background-color: rebeccapurple;
    position: relative;
}